body{
	margin: 0px;
	font-size: 15px;
}

#headerGeekCard{
	height: 40px;
	width: inherit;
	background: #00bceb;
	color: white;
	font-size: 20px;
	position: static;
}

#navigation
{
	float: left;
	width: inherit;
}

#plus{
	float: right;
	background: #db4935;
	border: 1px solid;
	border-color: #e6e6e6;
	margin: -20px 15px 0 0;
	color: white;
}

#plus:hover{
	background: #c75050;
}

#geekCard{
	width: 250px;
	height: 130px;
	background: #e6e6e6;
	font-family: Bubbler One;
	border: 3px solid;
	border-color: #00bceb;
	color: #4a4a4a;
	box-shadow: 0 0 10px gray;
	float: left;
	margin: 10px;
}

#geekInfos{
	margin-top: 10px;
	padding-left: 10px;
}

table tr{
	margin-left: -40px;
	margin-bottom: 10px;
}

#root{
	margin-top: 100px;
}

#geekId{
	display: none;
}